[package]
name = "square-word"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
regex = "1"
num_cpus = "1.0"
ascii = "1.1.0"
itertools = "0.10.5"

[dev-dependencies]
pretty_assertions = "1.3.0"
